* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: var(--CR);
    font-weight: 400;
    background: var(--bg);
    color: var(--white);
}

.container {
    margin: 0 auto;
    max-width: 1138px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

:root {
    --white: #fff;
    --black: #000;
    --grey: #C8C8C8;
    --bg: #040D1F;
    --orange: #F18128;
    --lightOrange: #ED8E00;
    --CR: 'CR', sans-serif;
    --CB: 'CB', sans-serif;
    --RR: 'RR', sans-serif;
    --RM: 'RM', sans-serif;
    --MR: 'MR', sans-serif;
    --MB: 'MB', sans-serif;

}

.btn {
    width: 166px;
    height: 48px;
    border: none;
    border-radius: 5px;
    background: var(--orange);
    font-family: var(--RM);
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background: var(--bg);
    color: var(--white);
}